* {
    margin: 0;
    padding: 0;
}
h1,h2 {
    text-align: center;
}

/* 左右滑动布局开始 */
body {
    position: relative;
    width: 300px;
    height: 360px;
    overflow: hidden;
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
}
.firstPage,
.secondPage,
.thirdPage,
.fourthPage {
    position: relative;
    width: 300px; /* 保持和body一样大小 */
    height: 330px;
    padding-top: 30px;
}
/* 左右滑动布局结束 */

/* 换页按钮开始 */
a.turnBtn {
    position: absolute;
    top: 10px;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    color: #555;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid #555;
}
a.turnBtn.left {
    left: 10px;
}
a.turnBtn.right {
    right: 10px;
}
a.turnBtn:hover {
    background-color: #555;
    color: #fff;
    border: 0;
}
/* 换页按钮结束 */

/* 第一页、第四页布局开始 */
.firstPage {
    background: url(logo.png) center 30px no-repeat;
}
.firstPage h1:first-child {
    margin-top: 255px; /* 背景图片大小250px */
}
.fourthPage {
    background: url(erweima.png) center 30px no-repeat;
}
.fourthPage h1 {
    margin-top: 260px; /* 背景图片大小250px */
}
/* 第一页、第四页布局结束 */

/* 第二页、第三页布局开始 */
.secondPage,
.thirdPage {
    width: 230px;
    padding-left: 40px;
    padding-right: 30px;
}
ul {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}
ul li {
    margin-top: 6px;
}
.thirdPage ul {
    margin-top: 30px;
}
input {
    padding-left: 5px;
    height: 30px;
    border-radius: 5px;
}
.thirdPage input {
    width: 150px;
    margin-right: 10px;
    margin-top: 20px;
}
.button {
    margin-top: 10px;
}
button {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
/* 第二页、第三页布局结束 */